<ul class="list-group">
    <a href= '/' class="text-decoration-none text-reset" >
    <li class="list-group-item d-flex justify-content-between align-items-center w-auto text-white bg-dark">
      All
    </li>
    </a>
  <% tags.each do |tag| %>
    <a href= '/?tag_ids=<%= tag.id %>' class="text-decoration-none text-reset" >
    <li class="list-group-item d-flex justify-content-between align-items-center w-auto text-white bg-dark">
      <%= tag.title %>
      <span class="badge bg-warning rounded-pill">
        <%= tag_in_use(tag.id) %>
      </span>
    </li>
    </a>
  <% end %>
</ul>

